@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background-color: #161617ff;
    color: #cececeff;
    overflow-x: hidden;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* Obrót strzałkami w menu */
.rotate-icon {
    transition: transform 0.3s ease-out;
}
.menu-option:hover .rotate-icon {
    transform: rotate(180deg);
}

/* Menu navbar */
.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #EA4A11;
}

.navbar-brand
{
    font-size: 25px;
    font-weight: bold;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(206,206,206, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(111, 111, 111);
    outline: none;
} 


/* Pasek odddzielający navbar od headera */
#spacer-layout {
    background-color: red;
    width: 90%;
    height: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100px;
    background: linear-gradient(90deg, #EA4A11 0%, rgba(211, 69, 19, 0.00) 100%);
}
/* Header */

header {
    display: inline-flex;
    padding: 0px 172px;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

#header-main-cont {
    display: flex;
    width: 475px;
    height: 240px;
    flex-direction: column;
    flex-shrink: 0;
}

#header-main {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#header-orange-color {
    color: #EA4A11;
}

#header-sub-cont {
    display: flex;
    width: 422px;
    height: 104px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#header-sub {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#header-buttons-cont {
    display: flex;
    gap: 50px;
}

.header-button {
    display: inline-flex;
    height: 48.629px;
    padding: 11px 20px 11px 17px;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #EA4A11;
    border: 0;
    outline: none !important;
}

/* Right text with car */
#header-right-cont {
    display: flex;
    width: 629.544px;
    height: 384px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.container {
    display: flex;
}

#text-ostatnio-dodane {
    margin: 50px 50px;
}

/* Slider kartek */
main {
    width: 80%;
}

.swiper-container {
    position: relative; /* Dodajmy stosunkową pozycję dla kontenera */
    width: 100%;
    max-width: 1200px; /* Ustaw szerokość kontenera */
    margin: 0 auto; /* Centralizuj slider na stronie */
    overflow: hidden;
  }

  /* Dodajmy style dla pojedynczych kart */
  .swiper-slide {
    background-color: #353a3f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: fit-content;
    width: 100px;
  }

  /* Dodajmy style dla paginacji */
  .swiper-pagination {
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #f2a37d;
    opacity: 0.7;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background-color: #d8562a;
  }


  /* Dodajmy style dla przycisków nawigacyjnych */
  .swiper-button-next, .swiper-button-prev {
    width: 50px;
    height: 50px;
    color: #d8562a;
    cursor: pointer;
    z-index: 10; /* Ustawiamy wysoki index z powodu stosunkowej pozycji */
  }

  .card_img {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  .cos_tam {
    padding: 20px;
  }



/* Karty z hoverem */
.wiadro {  
    display: grid;
    width: 80%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "Wizualizacja-2D Etykiety-produktów Etykiety-produktów"
      "Bannery Bannery Ilustracje"
      "Podzial-na-2 Podzial-na-2 Podzial-na-2";
  }
  
.Etykiety-produktów { 
    grid-area: Etykiety-produktów; 
    background-color: #FFF;
    border-radius: 25px;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: url(/images/etykiety\ produktów.webp), lightgray 50% / cover no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25);
    
}

.Wizualizacja-2D { 
    grid-area: Wizualizacja-2D; 
    background-color: #FFF;
    height: 250px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    opacity: 0.25;
    background: url(/images/2d.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25);
}
.Wizualizacja-2D:hover {
    transition: 1s, cubic-bezier(1, 0, 0, 1);
    opacity: 1;
}
  
.Bannery { 
    grid-area: Bannery; 
    background-color: #FFF;
    border-radius: 25px;
    height: 250px;
    display: flex;
    align-items: center;
        border-radius: 50px;
    background: url(/images/bannery.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: 30px;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25); 
}
  
.Ilustracje { 
    grid-area: Ilustracje; 
    background-color: #FFF;
    border-radius: 25px;
    height: 250px;
    display: flex;
    align-items: center;
        border-radius: 50px;
    background: url(/images/ilustracje.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25); 
}
  
.Podzial-na-2 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Projekty-merchowe Szaty-graficzne";
    grid-area: Podzial-na-2;
}
  
.Projekty-merchowe { 
    grid-area: Projekty-merchowe; background-color: #FFF;
    border-radius: 25px;
    margin-right: 25px;
    height: 250px;
    display: flex;
    align-items: center;
        border-radius: 50px;
    background: url(/images/merch.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25); 
}
  
.Szaty-graficzne { 
    grid-area: Szaty-graficzne; background-color: #FFF;
    border-radius: 25px;
    margin-left: 25px;
    height: 250px;
    display: flex;
    align-items: center;
        border-radius: 50px;
    background: url(/images/szaty.png), lightgray 50% / cover no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 30px rgba(0, 0, 0, 0.25); 
}
.text_in_card {
    margin: 25px;
    font-size: 2em;
}
/* Formularz kontaktowy */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    width: 80%;
    max-width: 1200px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px;
    align-items: center;
    flex-wrap: nowrap;
}
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { 
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
}
.div4 { 
    grid-area: 2 / 2 / 3 / 3; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#map {
    border-radius: 20px;
    filter: grayscale(100%) invert(92%);
}
.k_item {
    display: inline-flex
}
.k_item_img {
    padding: 10px;
    margin: 5px 5px 0px 5px;
}
.k_item_text_small {
    color: #f06a39;
}
.div1 > form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

#przycisk_wyslij {
    width: 80%;
    border-radius: 50px;
    background: #EA4A11;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    outline: none;
    border: 0;
    height: 55px;
}

textarea {
    resize: none;
    background-color: transparent; /* Brak tła */
    border: none; /* Brak obramowania */
    border-bottom: 1px solid #cecece; /* Kreska pod inputem */
    outline: none; /* Usunięcie domyślnego podświetlenia na focusie */
    padding: 5px 0; /* Dodatkowy padding górny i dolny, aby lepiej wyglądało */
    color: #cecece; /* Kolor tekstu w input */
    font-size: 16px;
    overflow: hidden;
}
textarea::placeholder {
    color: #cecece; /* Kolor placeholdera */
    opacity: 0.5;
}

input {
    background-color: transparent; /* Brak tła */
    border: none; /* Brak obramowania */
    border-bottom: 1px solid #cecece; /* Kreska pod inputem */
    outline: none; /* Usunięcie domyślnego podświetlenia na focusie */
    padding: 5px 0; /* Dodatkowy padding górny i dolny, aby lepiej wyglądało */
    color: #cecece; /* Kolor tekstu w input */
    font-size: 16px; /* Rozmiar tekstu w input */
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
  }
  
  /* Styl dla placeholdera */
input::placeholder {
    color: #cecece; /* Kolor placeholdera */
    opacity: 0.5; /* Przezroczystość placeholdera */
}