
body {
    background-color: #161617ff;
    color: #cececeff;
}

.nav-link {
    color: white;
}

/* Obrót strzałkami w menu */
.rotate-icon {
    transition: transform 0.3s ease-out;
}
.menu-option:hover .rotate-icon {
    transform: rotate(180deg);
}

.navbar-brand
{
    font-size: 25px;
    font-weight: bold;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(206,206,206, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(111, 111, 111);
    outline: none;
} 




/* #big_logo1 {
    font-size: 5em;
    background: linear-gradient(180deg, rgba(0,86,255,0.871608018207283) 0%, rgba(120,182,255,1) 54%, rgba(255,255,255,1) 100%);
    background-size: 130%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* model-viewer {
    width: 100vh;
    height: 80vh;
} */

/* #css_model_fix {
    object-fit: contain;
    height: 80vh;
    width:auto;
    display: flex;
    justify-content: center;
} */